


#div2{
width:fit-content;
height:50%;
overflow:auto;
padding:10px;
box-sizing: border-box;
background-color:#f2f2f2;
color:black;
}

textarea{
width:100%;
height:auto;
overflow:auto;
}

button{
border-radius:2px;
background-color:blue;
cursor:pointer;
width:100%;
height:auto;
text-align:center;
}
button:hover{
background-color:yellow;
}


#res2{
width:300px;
height:auto;
padding:2px;
}

.error{
    border:6px solid red;
}

@media (max-width: 760px){
#div2{
width:40%;
height:30%;
overflow:auto;
}

textarea{
width:100%;
height:20%;
overflow:auto;
}

}


